/*UNIVERSALS----------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    /* background-color: #464646; */
    background-color: #333333;
    overflow: hidden;
}




/* GOOGLE MAP */

#mydiv {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 30%;
    height: 60%;
    top: 15%;
    left: 15%;
    box-shadow: 20px 20px 2px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.55);
  }
  
#mydivheader {
    height: 4%;
    cursor: move;
    z-index: 10;
    background-color: #2b2b2b;
    /* border-bottom: 1px solid white; */
    color: rgba(255,255,255,0.2);
    font-family: 'Roboto', sans-serif;

  }

.map {
    display: flex;
    position: absolute;
    height: 96.6%;
    width: 100%;
}

/*  FORM */

#mydiv2 {
    position: absolute;
    z-index: 1;
    text-align: center;
    /* align-content: center; */
    width: 30%;
    height: 60%;
    top: 15%;
    left: 55%;
    box-shadow: 20px 20px 2px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.55);
    background-color: #272727;
 

}
  
#mydiv2header {
    height: 4%;
    cursor: move;
    z-index: 10;
    background-color: #2b2b2b;
    color: rgba(255,255,255,0.2);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-items: center;
}

.form {
    display: flex;
    position: absolute;
    height: 97.5%;
    width: 100%;
}

/* SKETCHPAD */


#settings { 
    position: absolute;
    top: 10%;
    left: .7%;
    color: white;
    display: block; 
    /* text-align:center; */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

#paint {
    /* border: 1px solid #464646;  */
    background : #333333;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    /* border: 1px solid white; */
    /* height: 100vh;
    width: 100%; */
}

button {
    background-color: rgba(255,255,255,0);
    border: none;
    /* border: 1px solid white; */
    width: 50px;
    height: 50px;
    outline:none;
    padding: 0px;
}

.buttonpic {
    width: 100%;
    height: 100%;
    opacity: .5;
}


.buttonpic{
    transition: .2s ease-in-out;
}
.buttonpic:hover {
    transform: scale(1.75);
    cursor: pointer;
    opacity: .8;
}

.buttonpic:active {
    transform: scale(1.5);


}

.signature img {
    /* border: 1px solid red; */
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: .1;
}

.signaturesmall {
    display: none;
}


/* CONTACT FORM-------------------------------------------------------*/

.wrapform {
    height: 100%;
    width: 100%;
}

.contactform {
    /* border: 1px solid red; */
    position: relative;
    z-index: 10;
    height: 1px;
}

label {
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-size: 15px;
    

}
input {
    width: 50%;
    height: 30px;
    color: grey;
    background-color: #202020;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(114, 114, 114);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    transition: .3s ease-in-out;
}

::placeholder {
    color: rgb(114, 114, 114, .2);
}


input:hover {
    background-color: rgb(146, 146, 146);
    transform: scale(1.1);
}


textarea {
    position: relative;
    color: grey;
    width: 50%;
    background-color: #202020;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(114, 114, 114);
    resize: none;
    transition: .3s ease-in-out;
    height: 100px;
}

textarea:hover {
    background-color: rgb(146, 146, 146);
    transform: scale(1.1);
}

#submitbutton {
    width: 20%;
    border: 1px solid rgb(148, 148, 148);
    transition: .2s ease-in-out;
}

#submitbutton:hover {
    background-color: grey;
    color: #202020;
    box-shadow: 0px 0px 10px rgba(255,255,255,.5);
}

#submitbutton:active {
    background-color: rgb(100, 170, 100);
    transform: scale(1);
    
}

/*FOOTER----------------------------------------------------------*/

.footer-wrapper{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

ul {
    list-style: none;
    /*margin-bottom: 30px;*/
    margin-left: 30px;
}

li {
    display: inline-flex;
    color: white;
    /*padding: 20px;*/
    margin-bottom: 15px;
    padding-bottom: 0;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}


li:hover {
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, .05);
}

.tadao {
    display: block;
    bottom: 0;
    left: 0;
    z-index: 1000;
    margin-bottom: 30px;
    margin-left: 30px;
    transition: all 150ms ease-in-out;
}

.tadao:hover {
    transform: rotate(30deg);
}


/*HOME BUTTON-----------------------------------------------*/

.home img{
    width: 60px;
    height: 60px;
    position:fixed;
    top: 13px;
    left: 13px;
    z-index:1;
    border: 1px solid black;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    transition: all 300ms ease-in-out;
    box-shadow: 0px 0px 10px 2px grey;
}

img.pic2{
    opacity: 0;
}

.home:hover img{
    opacity: 0;
    transform: scale(1.3);
}

.home:hover img.pic2{
    opacity: 1;
}

/*FULL SCREEN NAV BAR------------------------------------------*/

/*MAIN NAV BAR-------------------------------------------------*/

.navigation {
    box-shadow: 0px 0px 10px 2px grey;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:#111;
    z-index:1;
    /*clip-path:circle(25px at calc(100% - 45px) 45px);*/
    clip-path:circle(33px at calc(100% - 45px) 45px);
    transition:all 300ms ease-in-out;
}

.navigation:hover {
    clip-path:circle(25px at calc(100% - 45px) 45px);

}

.navigation.active {
    clip-path:circle(75%);
}

/*NAV BAR BUTTON------------------------------------------------*/

.navigation .ham-btn {
    position:absolute;
    top:20px;
    right:20px;
    width:50px;
    height:50px;
    border-radius:50%;
    cursor:pointer;
    z-index: 5000;
}

.navigation .ham-btn span {
    position:absolute;
    left:50%;
    transform:translate(-50%,-50%);
    width:50%;
    height:2px;
    background:#f5f5f5;
    transition:all 200ms ease-in-out;
}

.circle {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    position:fixed;
    top: 13px;
    right: 13px;
    background:rgba(1, 1, 1, 1);
    z-index:1;
    filter: blur(.2px);
    transition:all 100ms ease-in-out;

    /*background-color: grey;*/
}




.navigation .ham-btn:hover ~ .circle, .circleglow{

    border: 2px solid rgba(0,0,0,0);
    opacity: .5;
    transform: scale(.7);
    background-color: tomato;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    box-shadow:0px 0px 50px white;
}

/*NAV BAR HAMBURGER LINES--------------------------------------------------*/

.navigation .ham-btn span:nth-child(1) {
    top:30%;
}
.navigation .ham-btn span:nth-child(2) {
    top:50%;
}
.navigation .ham-btn span:nth-child(3) {
    top:70%;
}

.navigation.active .ham-btn span:nth-child(1) {
    top:50%;
    transform:translate(-50%,-50%) rotate(45deg);
}
.navigation.active .ham-btn span:nth-child(2) {
    display:none;
}
.navigation.active .ham-btn span:nth-child(3) {
    top:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
}

/*NAV BAR LINKS---------------------------------------------------*/

.navigation .links {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}
.navigation .links a {
    font-family: 'Roboto', sans-serif;
    position:relative;
    display:inline-block;
    margin:20px 0px;
    font-size:50px;
    font-weight:600;
    text-decoration:none;
    color:#f5f5f5;
    text-transform:lowercase;
    letter-spacing:5px;
    transition:all 300ms ease-in-out;
}

.navigation .links a:hover {
    color: #FFFFFF;
    transform:scale(1.5);
    text-shadow:0px 0px 10px #FFFFFF;
}

.navigation .links a:after {
    content:"";
    position:absolute;
    left:0px;
    bottom:5px;
    height:2px;
    width:0%;
    background: #FFFFFF;
    transition:all 700ms ease-in-out;
}

.navigation .links a:hover:after {
    /*height: 200%;*/
    width:700%;
    background: #FFFFFF;
    box-shadow:0px 0px 10px #FFFFFF;
}


/*NAV BAR VIDEO-----------------------------------------------------*/

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -500;
}

/* LEFT WIPE  */

.leftwipe {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;   
    background-color: black;
    text-shadow:0px 0px 5px #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.textleft {
    position: absolute;
    transform: rotate(-90deg);
    top: 37%;
    right: -5%;
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

/* TRANSITION PAGE-----------------------------------------------------*/



/* LEFT WIPE  */

.leftwipe {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;   
    background-color: black;
    text-shadow:0px 0px 5px #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.textleft {
    position: absolute;
    transform: rotate(-90deg);
    top: 37%;
    right: -5%;
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

/* RIGHT WIPE  */

.rightwipe {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;   
    background-color: black;
    text-shadow:0px 0px 5px #FFFFFF;
    border-left: 1px solid #FFFFFF;
}

.textright {
    position: absolute;
    transform: rotate(90deg);
    top: 53.5%;
    left: -4%;
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

/* LEFT WIPE ANIMATION */

.transition-leftwipe {
    transition: 1.2s cubic-bezier(.79,.03,.06,1);
}

html.is-animating .transition-leftwipe {
    right: 49.9%;
}

/* RIGHT WIPE ANIMATION */

.transition-rightwipe {
    transition: 1.2s cubic-bezier(.79,.03,.06,1); 
}

html.is-animating .transition-rightwipe {
    left: 49.9%;
}

/* INITIAL ANIMATION */

.transition-initial {
    transition: 1.2s;
}

html.is-animating .transition-initial {
    opacity: 0;
}


