body {
    background-color: rgb(46, 46, 46);
}

html{ 
    /* background-color: #111; */
    /* background-color: black; */
    overflow-x: hidden;
} 

html::-webkit-scrollbar { 
    display: none;
}

.enter{
    position: fixed;
    /* position: absolute; */
    top: 60%;
    left: 42%;
    text-align: center;
    text-justify: center;
    justify-self: center;
    align-items: center;
    font-size: 30px;
    z-index: 9999;
    transition: .3s ease-in-out;
    
    
}

a {
    text-decoration: none;
    color: grey;
    transition: .3s ease-in-out;

}

.enter:hover {
    transform: scale(1.05);
}

a:hover {
    color: rgb(194, 194, 194);
}

/*4X4HOUSE------------------------------------------------*/

.first-section {
    height: 100vh;
    width: 100%;
    z-index: -1;

}

.container{
    width: 70%;
    height: 35vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 20%;
    top: 30%;
    z-index: -1;

    /* border: 5px solid blue; */
}

.images{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    top: -10%;
}

.image-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: -1;

}

.image-wrapper img{
    width: 100%;
    height: 100%;
    z-index: -1;

}

/* MOUSE FOLLOW------------------------------------------------- */

#follower{
    position: absolute;
    float: left;
}

.mouse{
    width: 40px;
    height: 60px;
    position: relative;
    background: #4e5559 linear-gradient(transparent 0%, transparent 50%,#ffffff 50%,#ffffff 100%);
    background-size: 100% 200%;
    border-radius: 100px;
    animation: colorSlide 5s linear infinite,nudgeMouse 5s ease-out infinite;
    opacity: .7;
    z-index: 1000;
}

.mouse:before,
.mouse:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.mouse:before{
    width: 34px;
    height: 52px;
    background-color: #30333a;
    border-radius: 100px;
    opacity: .7;
}

.mouse:after{
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    animation: trackBallSlide 5s linear infinite;
}

/* ANIMATE--------------------------------------------------------------- */

@keyframes colorSlide{
    0% {
    background-position: 0% 100%;
    }
    20% {
    background-position: 0% 0%;
    }
    21% {
    background-color: #4e5559;
    }
    29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
    }
    30% {
    background-color: #4e5559;
    background-position: 0% 100%;
    }
    50% {
    background-position: 0% 0%;
    }
    51% {
    background-color: #4e5559;
    }
    59% {
    background-color: #ffffff;
    background-position: 0% 0%;
    }
    60% {
    background-color: #4e5559;
    background-position: 0% 100%;
    }
    80% {
    background-position: 0% 0%;
    }
    81% {
    background-color: #4e5559;
    }
    90%, 100% {
    background-color: #ffffff;
    }
}

@keyframes colorText{
    21% {
    color: #4e5559;
    }
    30% {
    color: #ffffff;
    }
    51% {
    color: #4e5559;
    }
    60% {
    color: #ffffff;
    }
    81% {
    color: #4e5559;
    }
    90% {
    color: #ffffff;
    }
} 

@keyframes trackBallSlide{
    0%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
    }
    6%{
    opacity: 1;
    transform: scale(0.9) translateY(5px);
    }
    14%{
    opacity: 0;
    transform: scale(0.4) translateY(40px);
    }
    15%, 19%{
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
    }
    28%, 29.99%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
    }
    30%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
    }
    36%{
    opacity: 1;
    transform: scale(0.9) translateY(5px);
    }
    44%{
    opacity: 0;
    transform: scale(0.4) translateY(40px);
    }
    45%, 49%{
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
    }
    58%, 59.99%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
    }
    60%{
    opacity: 1;
    transform: scale(0.9) translateY(-20px);
    }
    66%{
    opacity: 1;
    transform: scale(0.9) translateY(5px);
    }
    74%{
    opacity: 0;
    transform: scale(0.4) translateY(40px);
    }
    75%, 79%{
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
    }
    88%, 100%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
    }
}
@keyframes nudgeMouse{
    0%{
    transform: translateY(0);
    }
    20%{
    transform: translateY(8px);
    }
    30%{
    transform: translateY(0);
    }
    50%{
    transform: translateY(8px);
    }
    60%{
    transform: translateY(0);
    }
    80%{
    transform: translateY(8px);
    }
    90%{
    transform: translateY(0);
    }
}
@keyframes nudgeText {
    0%{
    transform: translateY(0);
    }
    20%{
    transform: translateY(2px);
    }
    30%{
    transform: translateY(0);
    }
    50%{
    transform: translateY(2px);
    }
    60%{
    transform: translateY(0);
    }
    80%{
    transform: translateY(2px);
    }
    90%{
    transform: translateY(0);
    }
} 

/* CUSTOM CURSOR-------------------------------------------- */

html, body {
    margin: 0;
    padding: 0;
    cursor: none;
    min-height: 5000px;
}

#hover-this {
    transition: all 0.3s ease;
    cursor: none;
}

.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: #fff;
    border-radius: 50%;
    /* mix-blend-mode: difference; */
    mix-blend-mode: saturation;

    transition: transform 0.3s ease;
}

#hover-this:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(8);
}

#hover-this:active ~ .cursor {
    transform: translate(-50%, -50%) scale(4);
    background-color: gray;  
}

p {
    font-size: 50px;
    line-height: 40px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.6);
}

.percent {
    position: fixed;
    display: absolute;
    top: 45%;
    right: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    height: 750px;
    width: 3px;
    transform: rotate(90deg);
}

.fill {
    position: fixed;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: background 0.15s ease;
}

h1 {
    position: absolute;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: lighter;
    color: white !important;
    margin: 10px;
    transform: rotate(270deg);
}




/* TRANSITION PAGE-----------------------------------------------------*/

/* LEFT WIPE  */

.leftwipe {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;   
    background-color: black;
    text-shadow:0px 0px 5px #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.textleft {
    position: absolute;
    transform: rotate(-90deg);
    top: 37%;
    right: -5%;
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

/* RIGHT WIPE  */

.rightwipe {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;   
    background-color: black;
    text-shadow:0px 0px 5px #FFFFFF;
    border-left: 1px solid #FFFFFF;
}

.textright {
    position: absolute;
    transform: rotate(90deg);
    top: 53.5%;
    left: -4%;
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

/* LEFT WIPE ANIMATION */

.transition-leftwipe {
    transition: 1.2s cubic-bezier(.79,.03,.06,1);
}

html.is-animating .transition-leftwipe {
    right: 49.9%;
}

/* RIGHT WIPE ANIMATION */

.transition-rightwipe {
    transition: 1.2s cubic-bezier(.79,.03,.06,1); 
}

html.is-animating .transition-rightwipe {
    left: 49.9%;
}

/* INITIAL ANIMATION */

.transition-initial {
    transition: 1.2s;
}

html.is-animating .transition-initial {
    opacity: 0;
}